page-start{

  ion-content{
    background-image:url('../assets/img/login_background.png');
    background-size:cover;
    width:100%;
  }

  .button{
    background-color:transparent;
    border-radius:7px;
    color:white;
    border: 1px solid white;
    width:40%;
    margin:0 auto;
  }

  .button:active{
    background-color:#ffaa00;
    color:white;
  }
  .button-ios.activated{
    background-color:#ffaa00;
    color:white;
  }
  .button-md.activated{
    background-color:#ffaa00;
    color:white;
  }
/*  .button:hover{
    background-color:#ffaa00;
    color:white;
  }*/

  .walk{
    position: fixed;
    bottom: 8%;
    background-image:url('../assets/img/btn_background.png');
    background-size: cover;
    border: none;
    text-align: center;
    width: 90%;
  }

  .login{
    position: fixed;
    bottom: 18%;
    margin-top:10px;
  }

  .register{
    position: fixed;
    bottom: 18%;
    right: 5%;
    margin-top:10px;
  }



}
