page-about {
  div.picture img{
    clear: both;
    float: left;
    width: 30%;
    margin: 10px;
    border-radius:50%;
    overflow:hidden;
  }

  div.user h2 {
    float: left;
    margin: 10%;
  }

  ion-label {
    font-size: larger;
  }

  ion-label img {
    float: right;
  }

  .button.logout {
    margin: 10% 5%;
    background-image:url('../assets/img/btn_background.png');
    border: none;
    text-align: center;
    width: 90%;
    border-radius:20px;
  }
}
