page-communicate{
  /*标题*/
  .head{
    height: 44px;
  }
  .head_back{
    position: absolute;
    height:44px;
    vertical-align: middle;
  }
  .head_back span{
    height: 100%;
    vertical-align: middle;
    display: inline-block
  }
  .head_back img{
    width:22px;
    vertical-align: middle;
  }

  .head_title {
    font-size: 18px;
    text-align: center;
    line-height: 44px;
    color: #ff975a;
  }
  .line{
    height: 1px;
    background-color:#eeeeee;
  }
  /*背景+聊天框*/
  .first{
    overflow: scroll;
    position: absolute;
    width: 100%;
    height:90%;
    scroll-top:100%;
    scroll-height:100%;
  }
  /*聊天框*/
  .textArea{
    position: fixed;
    width: 100%;
    bottom: 0.1%;
  }
  .messageShow{
    position: absolute;
    width:100%;
    height:100%;
    background: #fafafa;
  }

  .main {
    width:100%;
    margin-top: 3.5%;
    margin-right:2.5%;
  }

  .main .pic {
    width:12%;
    border-radius: 50%;
    clear:both;
    overflow: hidden;
    display: inline-block;
  }

  .main .msg {
    font-size: 17px;
    max-width: 60%;
    border-radius: 5%;
    padding: 8px;
    margin-top:5px;
    display: inline-block;
  }

/*  .button_send{
    height: 36px;
  }*/

  /*聊天:发送消息*/
  .main_send{
    float: right;
  }
  .send_picture{
    float: right;
  }
  .sendMs{
    float: right;
    color: white;
    background: #FF885E;
    margin-right:2.5%;
  }

  /*聊天:接收消息*/
  .main_receive{
    float: left;
  }
  .receive_picture{
    width:15%;
    float: left;
  }
  .receiveMs{
    background: #FFFFFF;
    margin-left:2.5%;
  }


  .item-ios.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 0px solid #c8c7cc;
  }
  .text-input-ios {
    height: 36px;
    border: 1px solid #B4B6BA;
    background: #FDFDFE;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: calc(100% - 8px);
  }

  .item-ios {
    font-size: 17px;
    color: rgba(0,0,0,0.6);
    background: #fafbfc;
    border: 1px solid #eeeeee;
  }

  .item-ios .item-button {
    padding: 0.5rem 0.8rem;
    height: 30px;
    font-size: 1.3rem;
  }
}
