<ion-header>
  <div class="head">
    <div class="head_back" (click)="back()">
      <span></span>
      <img src="assets/img/back.png"/>
    </div>
    <div class="head_title">
      {{otherSelfMsg.nickName}}
    </div>
    <div class="line">
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="messageShow">
    <div class="first" id="first">
      <ng-container *ngFor="let msg of subMsgList">
        <div *ngIf="msg.from==this.mySelf" class="main_send main">
          <div class="send_picture pic">
            <img [src]="imgService.safeImage(mySelfMsg.picture)">
          </div>
          <div class="sendMs msg">
            {{msg.text}}
          </div>
        </div>

        <div *ngIf="msg.from!=this.mySelf" class="main_receive main">
          <div class="receive_picture pic">
            <img [src]="imgService.safeImage(otherSelfMsg.picture)" (click)="goToUserPage()">
          </div>
          <div class="receiveMs msg">
            {{msg.text}}
          </div>
        </div>

      </ng-container>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="textArea">
    <ion-item>
      <ion-input class="send" [(ngModel)]="sendText" type="text" placeholder="想说点什么......" text-center>
      </ion-input>

      <button class="button_send" ion-button item-end color="secondary" (click)="sendMessage()" >
        发送
      </button>
    </ion-item>
  </div>
</ion-footer>

