<ion-header>
  <div class="head">
    <div class="head_back" (click)="back()">
      <span></span>
      <img src="assets/img/back.png"/>
    </div>
    <div class="head_title">
      {{otherSelfMsg.nickName}}
    </div>
    <div class="line">
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="messageShow">
    <div class="first" id="first">
      <ng-container *ngFor="let msg of subMsgList">
        <div *ngIf="msg.from==this.mySelf" class="main_send">
          <div class="send_picture">
            <img [src]="imgService.safeImage(mySelfMsg.picture)">
          </div>
          <div class="sendMs">
            {{msg.text}}
          </div>
        </div>

        <div *ngIf="msg.from!=this.mySelf" class="main_receive">
          <div class="receive_picture">
            <img [src]="imgService.safeImage(otherSelfMsg.picture)" (click)="goToUserPage()">
          </div>
          <div class="receiveMs">
            {{msg.text}}
          </div>
        </div>

      </ng-container>
    </div>
  </div>

  <div class="textArea">
    <ion-item>

      <button ion-button icon-only item-start clear (click)="sendImgMsg()">
        <ion-icon ios="ios-image" md="md-image" ></ion-icon>
      </button>

      <ion-input class="send" [(ngModel)]="sendText" type="text" placeholder="想说点什么......" text-center>
      </ion-input>

      <button ion-button icon-only item-end clear (click)="sendMessage()" >
        <!--<ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>-->
        发送
      </button>

    </ion-item>
  </div>

</ion-content>

