page-addCred {
  /*标题*/
  .head{
    height: 44px;
  }
  .head_back{
    position: absolute;
    height:44px;
    vertical-align: middle;
  }
  .head_back span{
    width:0px;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  .head_back img{
    width:22px;
    vertical-align: middle;
  }

  .head_title {
    font-size: 18px;
    text-align: center;
    line-height: 44px;
    color: #ff975a;
  }
  .line{
    height: 1px;
    background-color:#eeeeee;
  }

  /*提交照片页面*/
  .type_name {
    font-size: 18px;
    width: 100%;
    text-align: center;
  }

  .image_picker img {
    width: 30%;
    margin-left: 35%;
  }

  .subImg{
    background-image: url('../assets/img/btn_background.png');
    background-size: 100%;
    margin: 10% 10%;
    border: none;
    text-align: center;
    width: 80%;
    border-radius:10px;
    background-size: cover;
    color:#ffffff;
  }
  .subImg:active{
    background-color:#ffaa00;
    color:white;
  }
  .subImg:hover{
    background-color:#ffaa00;
    color:white;
  }


  $select: 'md' 'ios';
  @for $i from 1 to 3 {
    /*细节*/
    .header-#{nth($select, $i)}::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
      height: 0px;
    }
  }
}
