page-login{
  /*标题*/
  .head{
    width:100%;
    height:176px;
    background-size:cover;
    background-image: url('../assets/img/background.png');
  }
  .head_back{
    position: absolute;
    height:50px;
    vertical-align: middle;
  }
  .head_back span{
    height: 100%;
    vertical-align: middle;
    display: inline-block
  }
  .head_back img{
    width:25px;
    vertical-align: middle;
  }
  .head_title {
    font-size: 22px;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
  }
  .line{
    height: 1px;
    background-color:#eeeeee;
  }

  .phone{
    background-color: #fafafa;
    border-radius: 20px;
  }
  .password{
    background-color: #fafafa;
    border-radius: 20px;
    margin-top:20px;
  }

  .phone img{
    width:20px;
  }
  .password img{
    width:20px;
  }


  .button{
    margin-top:30px;
    background-image: url('../assets/img/btn_background.png');
    background-size:cover;
    border-radius:15px;
    color:#ffffff;
  }
  .button:active{
    background-color:#ffaa00;
    color:white;
  }
  .button:hover{
    background-color:#ffaa00;
    color:white;
  }

  .forget{
    color:#ff975a;
    width:100%;
    text-align:right;
  }

//不同浏览器下的显示
  .text-input::-moz-placeholder {
    color: #cccccc;
  }
  .text-input:-ms-input-placeholder {
    color: #cccccc;
  }
  .text-input::-webkit-input-placeholder {
    color: #cccccc;
  }

}
