<ion-header>
  <div class="head">
    <div class="head_title">
      消息
    </div>
    <div class="line">
    </div>
  </div>
</ion-header>

<ion-content>
  <!--心动-->
  <div class="myItem" (click)="goToContact()">
    <!--图标-->
    <div class="myItem_left">
      <div class="myItem_left_img">
        <img src="assets/img/love.png"/>
      </div>
      <div *ngIf="this.memory.getLike()==true" class="myItem_left_circle"></div>
    </div>
    <!--描述-->
    <div class="myItem_middle">
      <div class="myItem_middle_content_title">心动</div>
      <div class="myItem_middle_content_intro">查询对你心动的人和你心动的记录</div>
    </div>
    <div class="myItem_middle_next">
      <img src="assets/img/next.png"/>
    </div>
    <div class="myItem_middle_line"></div>
  </div>

  <!--最近来访-->
  <div class="myItem" (click)="goToPeople()">
    <!--图标-->
    <div class="myItem_left">
      <div class="myItem_left_img">
        <img src="assets/img/visit.png"/>
      </div>
      <div *ngIf="isShow == true" class="myItem_left_circle"></div>
    </div>
    <!--描述-->
    <div class="myItem_middle">
      <div class="myItem_middle_content_title">最近来访</div>
      <div class="myItem_middle_content_intro">查看最近谁访问了您</div>
    </div>
    <div class="myItem_middle_next">
      <img src="assets/img/next.png"/>
    </div>
    <div class="myItem_middle_line"></div>
  </div>

  <!--邂逅大使-->
  <div class="myItem" (click)="goToMatcher()">
    <!--图标-->
    <div class="myItem_left">
      <div class="myItem_left_img">
        <img src="assets/img/redWomen.png"/>
      </div>
      <div *ngIf="this.memory.getMsg()==true" class="myItem_left_circle"></div>
    </div>
    <!--描述-->
    <div class="myItem_middle">
      <div class="myItem_middle_content_title">邂逅大使</div>
      <div class="myItem_middle_content_intro">任何问题欢迎找邂逅大使哦</div>
    </div>
    <div class="myItem_middle_next">
      <img src="assets/img/next.png"/>
    </div>
    <div class="myItem_middle_line"></div>
  </div>

  <!-- 下面显示聊天列表 -->
  <div *ngFor="let conTalk of conversations" >
    <div class="myTalk" *ngIf="conTalk.isDefaultPic !== true && conTalk.show == true">
      <!--图标-->
      <div class="myTalk_left" (click)="goToIntroduce(conTalk.baseInfo)">
        <div class="myTalk_left_img">
          <img [src]="imgService.safeImage(conTalk.baseInfo.picture)" onerror="onerror=null;src='assets/img/img_control.png'"/>
        </div>
        <div class="myTalk_left_circle" *ngIf="conTalk.talk.unreadMessagesCount>0">{{conTalk.talk.unreadMessagesCount}}</div>
      </div>
      <!--文字描述-->
      <div class="myTalk_middle" (click)="goToTalk(conTalk)">
        <div class="myTalk_middle_content_title">
          <span class="s1">{{conTalk.baseInfo.nickName}}</span>
          <span class="s2">{{ calculateService.getAge(conTalk.baseInfo.birthday) }}岁</span>
        </div>
        <div class="myTalk_middle_content_intro" *ngIf="conTalk.baseInfo.hobby!=null && conTalk.baseInfo.hobby !=''">爱好：{{ conTalk.baseInfo.hobby}}</div>
        <div class="myTalk_middle_content_intro" *ngIf="conTalk.baseInfo.hobby ==null || conTalk.baseInfo.hobby ==''">爱好：暂无,希望和你一起培养</div>
      </div>

      <div class="myTalk_middle_date">
        <div *ngIf="conTalk.talk.lastMessageAt != null && conTalk.talk.lastMessageAt.getMinutes()<10">{{conTalk.talk.lastMessageAt.getMonth()+1}}-{{conTalk.talk.lastMessageAt.getDate()}} {{conTalk.talk.lastMessageAt.getHours()}}:{{'0'+conTalk.talk.lastMessageAt.getMinutes()}}</div>
        <div *ngIf="conTalk.talk.lastMessageAt != null && conTalk.talk.lastMessageAt.getMinutes()>=10">{{conTalk.talk.lastMessageAt.getMonth()+1}}-{{conTalk.talk.lastMessageAt.getDate()}} {{conTalk.talk.lastMessageAt.getHours()}}:{{conTalk.talk.lastMessageAt.getMinutes()}}</div>
      </div>
      <div class="myItem_middle_line"></div>
    </div>
  </div>


</ion-content>
