<ion-header>
  <div class="head">
    <div class="head_back" (click)="back()">
      <span></span>
      <img src="assets/img/back.png"/>
    </div>
    <div class="head_title">
      聊天
    </div>
    <div class="line">
    </div>
  </div>
</ion-header>

<ion-content>


  <ion-list>
    <ion-list-header>Today is HappyDay</ion-list-header><!--(click)="goToTalk(conTalk.talk)"-->
    <button ion-item  *ngFor="let conTalk of conversations" (click)="goToTalk(conTalk.talk)">

      <div class="picture" item-start>
        <img [src]="imgService.safeImage(conTalk.baseInfo.picture)">
        <div class="circle" *ngIf="conTalk.talk.unreadMessagesCount>0">{{conTalk.talk.unreadMessagesCount}}</div>
      </div>

      <h2 class="h2">{{conTalk.baseInfo.nickName}}</h2>
      <p class="p" *ngIf="conTalk.talk.unreadMessagesCount>0">您有未读消息</p>
      <div *ngIf="conTalk.talk.unreadMessagesCount>0">{{this.memory.setMsg(true)}}</div>
      <ion-note item-end *ngIf="conTalk.talk.lastMessageAt.getMinutes()<10">{{conTalk.talk.lastMessageAt.getMonth()+1}}-{{conTalk.talk.lastMessageAt.getDate()}} {{conTalk.talk.lastMessageAt.getHours()}}:{{'0'+conTalk.talk.lastMessageAt.getMinutes()}}</ion-note>
      <ion-note item-end *ngIf="conTalk.talk.lastMessageAt.getMinutes()>=10">{{conTalk.talk.lastMessageAt.getMonth()+1}}-{{conTalk.talk.lastMessageAt.getDate()}} {{conTalk.talk.lastMessageAt.getHours()}}:{{conTalk.talk.lastMessageAt.getMinutes()}}</ion-note>
    </button>
  </ion-list>

</ion-content>
