page-safe{
  /*标题*/
  .head{
    height: 44px;
  }
  .head_back{
    position: absolute;
    height:44px;
    vertical-align: middle;
  }
  .head_back span{
    height: 100%;
    vertical-align: middle;
    display: inline-block
  }
  .head_back img{
    width:22px;
    vertical-align: middle;
  }

  .head_title {
    font-size: 18px;
    text-align: center;
    line-height: 44px;
    color: #ff975a;
  }
  .line{
    height: 1px;
    background-color:#eeeeee;
  }


  //下面部分
  div.picture img{
    float: left;
    width: 20%;
    margin: 10px;
    border-radius:50%;
    overflow:hidden;
  }

  div.user h2 {
    float: left;
    margin: 10%;
    font-size: 20px;
  }


  /*下面的条目*/
  ion-label {
    font-size: 15px;
  }

  ion-label img {
    float: right;
    width: 17px;
  }

  ion-label span {
    float: right;
  }

  .toggle-ios {
    width: 51px;
    height: 31px;
  }

  .button.logout {
    margin: 10% 5%;
    background-image:url('../assets/img/btn_background.png');
    border: none;
    text-align: center;
    width: 90%;
    border-radius:10px;
    background-size: cover;
    box-shadow: none;
  }

  .circle{
    width: 10px;
    height: 10px;
    border-radius:50%;
    display: inline-block;
    background: #ff0000;
    position: absolute;
  }

  $select: 'md' 'ios';
  @for $i from 1 to 3 {
    /*细节*/
    .item-#{nth($select, $i)}.item-block .item-inner {
      padding-right: 8px;
      border-bottom: 0.55px solid #eeeeee;
    }
    .header-#{nth($select, $i)}::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
      height: 0px;
    }
  }


}
