page-tabs {

  .tabs-md .tab-button {
    min-height: 49px;
  }
  .tab-button{
    background: rgba(255,255,255,1);
  }

  .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    height: 0px;
  }

  .tabs-ios .tabbar {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(255,255,255,1);
  }
  page-tabs .tabs-ios .tabbar {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .tabs-ios .tab-button-icon {
    margin-top: 4px;
    margin-bottom: 1px;
    min-width: 24px;
    height: 23px;
    font-size: 30px;
    color: #8c8c8c;
  }

  .ion-tab-icon-base {
    width: 24px;
    height: 23px;
  }

  .ion-tab-icon-md-base {
    min-width: 0 !important;
    height: 23px;
  }

  $tabImageName: 'home' 'message' 'user';
  @for $i from 1 to 4 {
    //for ios
    .ion-ios-tab-#{nth($tabImageName, $i)} {
      @extend .ion-tab-icon-base;
      content: url("../assets/img/tab-icon-#{nth($tabImageName, $i)}-on.png");
    }
    .ion-ios-tab-#{nth($tabImageName, $i)}-outline {
      @extend .ion-tab-icon-base;
      content: url("../assets/img/tab-icon-#{nth($tabImageName, $i)}.png");
    }

    // for android
    .tabs-md .tab-button[aria-selected=true] {
      .ion-md-tab-#{nth($tabImageName, $i)} {
        @extend .ion-tab-icon-md-base;
        content: url("../assets/img/tab-icon-#{nth($tabImageName, $i)}-on.png");
      }
    }
    .tabs-md .tab-button[aria-selected=false] {
      .ion-md-tab-#{nth($tabImageName, $i)} {
        @extend .ion-tab-icon-md-base;
        content: url("../assets/img/tab-icon-#{nth($tabImageName, $i)}.png");
      }
    }


  }

  .tab-button {
    background: rgba(255, 255, 255, 0.3);
  }
}

