<ion-header>
  <div class="head">
    <div class="head_back" (click)="back()">
      <span></span>
      <img src="assets/img/back.png"/>
    </div>
    <div class="head_title">
      编辑基本资料
    </div>
    <div class="line">
    </div>
  </div>
</ion-header>

<ion-content>

    <div class="divItem">
      <ion-label>学历</ion-label>
      <p text-right *ngIf="isStrNull(detailInfo.edu)" (click)="chooseStr('edu')" style="color: gray">请选择</p>
      <p text-right (click)="chooseStr('edu')">{{detailInfo.edu}}</p>
    </div>

  <div class="line"></div>

    <div class="divItem">
      <ion-label>期望婚时</ion-label>
      <p text-right *ngIf="isStrNull(detailInfo.hopeTime)" (click)="chooseStr('hopeTime')" style="color: gray">请选择</p>
      <p text-right (click)="chooseStr('hopeTime')">{{detailInfo.hopeTime}}</p>
    </div>

  <div class="line"></div>

    <div class="divItem">
      <ion-label>收入</ion-label>
      <p text-right *ngIf="isStrNull(detailInfo.income)" (click)="chooseStr('income')" style="color: gray">请选择</p>
      <p text-right (click)="chooseStr('income')">{{detailInfo.income}}</p>
    </div>

  <div class="line"></div>

    <div class="divTextarea">
      <p>爱好</p>
      <ion-item>
        <ion-textarea placeholder="请填写" [(ngModel)]="baseInfo.hobby"></ion-textarea>
      </ion-item>
    </div>

  <div class="line"></div>

    <div class="divTextarea">
      <p>择偶标准</p>
      <ion-item>
        <ion-textarea placeholder="请填写" [(ngModel)]="detailInfo.chooseStandard"></ion-textarea>
      </ion-item>
    </div>

  <div class="line"></div>

    <div class="divTextarea">
      <p>自我介绍</p>
      <ion-item>
        <ion-textarea placeholder="请填写" [(ngModel)]="detailInfo.introduce"></ion-textarea>
      </ion-item>
    </div>

  <div class="line"></div>

    <button class="btn_detail" ion-button full (click)="nextStep()">下一步</button>

</ion-content>
