<ion-header>
  <div class="head">
    <div class="head_back" (click)="back()">
      <span></span>
      <img src="assets/img/back.png"/>
    </div>
    <div class="head_title">
      黑名单
    </div>
    <div class="line">
    </div>
  </div>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"  refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>


    <div>
      <div class="people" *ngFor="let user of hateList" (click)="getIntroduce(user)">
        <div class="people_picture">
          <img [src]="imgService.safeImage(user.picture)"/>
        </div>
        <div class="people_describe">
          <span class="span1">{{ user.nickName }}</span>
          <span class="span2">{{ calculateService.getAge(user.birthday) }}岁</span>
          <br/>

          <div class="people_describe_img" *ngIf="user.mainCredNum >= 3">
            <img src="assets/img/rz.png">
            <span>认证用户</span>
          </div>
          <div class="people_describe_img" *ngIf="user.mainCredNum < 3">
            <img src="assets/img/norz.png">
            <span class="NoRz">未认证用户</span>
          </div>

          <span></span><br/>
          <span class="span3">兴趣爱好: {{user.hobby}}</span>
        </div>
        <div class="people_date">
          {{user.createTime}}
        </div>
      </div>
    </div>


</ion-content>
