page-message{

  .one{
    position: relative;
  }
  .xindong{
    display: inline-block;
  }
  .miaoshu{
    font-size: 25px;
    display: inline-block;
    position: absolute;
    height:88px;
    line-height: 88px;
    text-align: center;
    margin-left:10%;
  }

  .two{
    margin-top:20px;
  }
  .three{
    margin-top:20px;
  }
}
