page-message{

  .one{
    position: relative;
  }
  .xindong{
    display: inline-block;
  }
  .miaoshu{
    font-size: 25px;
    display: inline-block;
    position: absolute;
    height:88px;
    line-height: 88px;
    text-align: center;
    margin-left:10%;
  }

  .two{
    margin-top:20px;
  }
  .three{
    margin-top:20px;
  }

  .msg{
    width:20px;
    height:20px;
    border-radius:50px;
    border:solid #ffaa00 1px;
    display: inline-block;
    position: absolute;
    background: #ffaa00;
    margin-left: 70%;
    margin-top:-85%;
  }
}
