page-matchmaker{
  /*标题*/
  .head{
    height: 50px;
  }
  .head_back{
    position: absolute;
    height:50px;
    vertical-align: middle;
  }
  .head_back span{
    height: 100%;
    vertical-align: middle;
    display: inline-block
  }
  .head_back img{
    width:25px;
    vertical-align: middle;
  }

  .head_title {
    font-size: 22px;
    text-align: center;
    line-height: 50px;
    color: #ff975a;
  }
  .line{
    height: 1px;
    background-color:#eeeeee;
  }

  /*分割线*/

  /*背景+聊天框*/
  .first{
    overflow: scroll;
    position: absolute;
    width: 100%;
    height:90%;
    scroll-top:100%;
    scroll-height:100%;
  }
  .textArea{
    position: absolute;
    width: 100%;
    top:90%;
  }
  .messageShow{
    position: absolute;
    width:100%;
    height:100%;
    background: #eeeeee;
  }


}
