page-matchmaker{
  /*标题*/
  .head{
    height: 44px;
  }
  .head_back{
    position: absolute;
    height:44px;
    vertical-align: middle;
  }
  .head_back span{
    height: 100%;
    vertical-align: middle;
    display: inline-block
  }
  .head_back img{
    width:22px;
    vertical-align: middle;
  }

  .head_title {
    font-size: 18px;
    text-align: center;
    line-height: 44px;
    color: #ff975a;
  }
  .line{
    height: 1px;
    background-color:#eeeeee;
  }

  /*分割线*/

  /*背景+聊天框*/
  .first{
    overflow: scroll;
    position: absolute;
    width: 100%;
    height:90%;
    scroll-top:100%;
    scroll-height:100%;
  }
  .messageShow{
    position: absolute;
    width:100%;
    height:100%;
    background: #fafafa;
  }

  /*信息完善部分*/
  .main {
    width:100%;
    margin-top: 3.5%;
    margin-right:2.5%;
    margin-left: 2.5%;
  }

  .main .pic {
    width:40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
  }

  .main .msg {
    font-size: 15px;
    max-width: 60%;
    border-radius: 5%;
    padding: 4px;
    margin-top:5px;
    display: inline-block;
  }



  /*聊天:发送消息*/
  .main_send{
    float: right;
  }
  .send_picture{
    float: right;
  }
  .sendMs{
    float: right;
    color: white;
    background: #FF885E;
    margin-right:2.5%;
  }


  /*聊天:接收消息*/
  .main_receive{
    float: left;
  }
  .receive_picture{
    width:10%;
    float: left;
  }

  .receiveMs{
    background: #FFFFFF;
    margin-left:2.5%;
  }


  /*聊天框*/
  .textArea{
    height: 50px;
  }

  /*细节部分*/
  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    height: 0px;
  }
  .item-md .item-button {
    padding: 0.5rem 0.8em;
    height: 35px;
    font-size: 1.2rem;
    margin-left: 10px;
  }
  .item-ios .item-button {
    padding: 0.5rem 0.8rem;
    height: 35px;
    font-size: 1.2rem;
    margin-left: 10px;
  }

  .item-md.item-block .item-inner {
    padding-right: 0px;
    border-bottom: 0px solid #dedede;
  }
  .item-ios.item-block .item-inner {
    padding-right: 0px;
    border-bottom: 0px solid #c8c7cc;
  }

  .item-md.item-block .item-inner {
    border-bottom: 0px solid #dedede;
  }
  .item-ios.item-block .item-inner {
    border-bottom: 0px solid #dedede;
  }

  .item-input ion-input, .item-input ion-textarea {
    border: 1px solid #eeeeee;
    height: 40px;
  }
  .text-input-md {
    height: 36px;
    margin: 2px 0px 0px 0px;
    padding: 0px;
    width: calc(100% - 8px - 8px);
  }
  .text-input-ios {
    height: 36px;
    margin: 2px 0px 0px 0px;
    padding: 0px;
    width: calc(100% - 8px);
  }
}
