page-everyPerson{

  div{
    overflow:hidden;
    text-align: center;
  }

  div img {
    margin-top: 10%;
    width: 40%;
  }

  div.switch{
    height:50%;
    align-items: center;
    justify-content: center;
  }


}
