page-userIntroduce {
  ion-item span {
    color: #A0A0A0;
  }

  ion-item p.content {
    color: black;
    font-family: 黑体;
    font-size: 20px;
    margin-top: 3px;
  }

  div.title-right {
    float: left;
  }

  p.line-one {
    float: left;
    margin-right: 10px;
    padding: 2px;
    border-radius: 5px;
    background: #cccccc;
  }

  div.picture img{
    clear: both;
    float: left;
    width: 30%;
    margin: 10px;
    border-radius:50%;
    overflow:hidden;
  }

  p.change_image {
    color: grey;
  }

  .update{
    background-color:transparent;
    border-radius:20px;
    color:#ffaa00;
    border: 2px solid #ffaa00;
    width:50%;
    margin:0 auto;
  }
  .update:active{
    background-color:#ffaa00;
    color:white;
  }
  .update:hover{
    background-color:#ffaa00;
    color:white;
  }

  .all-pic {
    float: left;
  }

  .all-pic img {
    width: 44%;
    margin: 3%;
    float: left;
  }
}
