page-userIntroduce {

  .main_pic {
    width: 100%;
  }

  .main_pic img{
    width: 100%
  }

  .btn_setting {
    position: absolute;
    top:3%;
    right: 5%;
    width: 8%;
  }

  .first_line{
    margin: 5% 8% 0px;
  }

  .name{
    font-size: 22px;
    display: inline-block;
  }

  .first_line .pic{
    margin: 5px 10px;
    width: 20px;
    position: absolute;
    text-align: center;
    display: inline-block;
  }

  .update{
    float: right;
  }

  .update p {
    float: right;
    color: gray;
  }

  .update img {
    float: right;
    width: 25px;
    margin: 10px;
  }

  .little_info{
    margin: 0px 7%;
  }


  p.line-one {
    display: inline-block;
    padding: 2px;
    border-radius: 5px;
  }

  ion-list {
    clear: both;
    float: left;
    width: 100%;
  }

  .pass_audit {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 10%;
    text-align: center;
    font-size: 25px;
  }

  .pass_audit img {
    width: 30px;
  }

  ion-list.both-info ion-item span {
    float: left;
    margin-right: 30px;
  }

  ion-list.both-info ion-item p {
    white-space:normal;
    word-break: break-all;
  }

  br{
    clear: both;
  }

  .both-info {
  }

  .both-info .bath {
    float: left;
    width: 60%;
  }

  .both-info .bath p {
    float: left;
    color: #FF975A;
    background: #FFF6F1;
    margin-left: 10px;
    padding: 2px;
  }



}
