<ion-header hidden>
  <ion-navbar>

  </ion-navbar>
</ion-header>

<ion-content>
  <!--头像高清图片-->
  <div class="main_pic">
    <img [src]="imgService.safeImage(baseInfo.picture)" (click)="toLargeImage(baseInfo.picture)">
  </div>

  <!--设置按钮-->
  <img (click)="goToSetting()" class="btn_setting" src="assets/img/btn_setting.png">

  <!--管理照片-->
  <div class="control_img" (click)="gotToControlImage()">
    <img src="assets/img/btn_control_img.png">
    <p>管理照片</p>
  </div>

  <!--显示昵称-->
  <div class="first_line">
    <div class="name">
      {{ baseInfo.nickName }}
    </div>
    <div class="pic" *ngIf="calculateService.isVip(baseInfo.vipTime)==true">
      <img src="assets/img/vrz.png"/>
    </div>
    <div class="openvip" *ngIf="calculateService.isVip(baseInfo.vipTime)==false" (click)="goToOpenVip()">
      <img src="assets/img/openvip.png"/>
    </div>
  </div>

  <div class="remainPay" *ngIf="calculateService.isVip(baseInfo.vipTime)==true" (click)="goToOpenVip()">续费Vip</div>

  <!--编辑资料-->
  <div class="update" (click)="detail()">
    <img src="assets/img/btn_next.png">
    <p>编辑资料</p>
  </div>

  <!--简单信息-->
  <div class="little_info">
    <p class="line-one" *ngIf="detailInfo.newDistrict !== undefined && detailInfo.newDistrict !== null">
      {{detailInfo.newDistrict.city.name}}
    </p>
    <p class="line-one">|</p>
    <p class="line-one">{{ detailInfo.edu }}</p>
    <p class="line-one">|</p>
    <p class="line-one">{{ detailInfo.hopeTime }}结婚</p>
  </div>

  <!--已认证的信息-->
  <div class="pass_audit">
    <div class="title">
      <img src="assets/img/pass_audit.png">
      <span>已认证</span>
    </div>
    <!--TODO:-->
    <ion-list>
      <ng-container *ngFor="let credType of credTypes">
          <ion-item class="credMsg" *ngIf="getStatus(credType.id)==true">{{credType.name}}</ion-item>
      </ng-container>
      <ion-item class="creMsg" *ngIf="noCredSuccess">所有证件均未认证</ion-item>
      <p class="creMsgVS" *ngIf="!allCredSuccess" (click)="goToCred()">完善认证</p>
    </ion-list>
  </div>

  <!--未认证的信息-->
<!--  <div class="unpass_audit">
    <div class="title">
      未通过认证
    </div>
    &lt;!&ndash;TODO:&ndash;&gt;
    <ion-list>
      <ng-container *ngFor="let credType of credTypes">
        <ion-item class="credMsg" *ngIf="getStatus(credType.id)==false">{{credType.name}}</ion-item>
      </ng-container>
    </ion-list>
  </div>-->

  <!--其他信息-->
  <ion-list class="both-info">
    <ion-item>
      <span>自我介绍</span>
      <p>{{ detailInfo.introduce }}</p>
    </ion-item>

    <ion-item>
      <span>基本资料</span>
      <div class="bath">
        <p>{{ calculateService.getAge(baseInfo.birthday) }}岁</p>
        <p>{{ calculateService.getConstellation(baseInfo.birthday) }}</p>
        <p>身高 {{ detailInfo.height }}</p>
        <p>体重 {{ detailInfo.weight }}</p>
        <p>爱好 {{ baseInfo.hobby }}</p>
        <p>
          收入 {{ detailInfo.income }}
        </p>
        <p *ngIf="detailInfo.newDistrict !== undefined && detailInfo.newDistrict !== null">
          所在地 {{detailInfo.newDistrict.city.province.name}}-{{detailInfo.newDistrict.city.name}}-{{detailInfo.newDistrict.name}}
        </p>
        <p  *ngIf="detailInfo.oldDistrict !== undefined && detailInfo.oldDistrict !== null">
          故乡 {{detailInfo.oldDistrict.city.province.name}}-{{detailInfo.oldDistrict.city.name}}-{{detailInfo.oldDistrict.name}}
        </p>
        <p *ngIf="detailInfo.forthSchool !== undefined && detailInfo.forthSchool !== null">
          本科 {{detailInfo.forthSchool.name}}
        </p>
        <!--<p *ngIf="detailInfo.graduate === 1">已毕业</p>-->
        <p *ngIf="detailInfo.thirdSchool !== undefined && detailInfo.thirdSchool !== null">
          高中 {{detailInfo.thirdSchool.name}}
        </p>
        <p *ngIf="detailInfo.secondSchool !== undefined && detailInfo.secondSchool !== null">
          初中 {{detailInfo.secondSchool.name}}
        </p>
        <p *ngIf="detailInfo.firstSchool !== undefined && detailInfo.firstSchool !== null">
          小学 {{detailInfo.firstSchool.name}}
        </p>
      </div>
    </ion-item>

    <ion-item>
      <span>择偶标准</span>
      <p>{{ detailInfo.chooseStandard }}</p>
    </ion-item>
  </ion-list>

</ion-content>
