<ion-header hidden>
  <ion-navbar>
    <!--<ion-title>{{ baseInfo.name }}</ion-title>-->
  </ion-navbar>
</ion-header>

<ion-content>
  <!--头像高清图片-->
  <div class="main_pic">
    <img [src]="imgService.safeImage(baseInfo.picture)">
  </div>

  <!--返回键-->
  <img src="assets/img/go_back.png" class="back_icon" (click)="back()">

  <!--显示昵称-->
  <div class="first_line">
    <div class="name">
      {{ baseInfo.nickName }}
    </div>
    <div class="pic" *ngIf="calculateService.isVip(baseInfo.vipTime)==true">
      <img src="assets/img/vrz.png"/>
    </div>
  </div>

  <!--简单信息-->
  <div class="little_info">
    <p class="line-one" *ngIf="detailInfo.newDistrict !== undefined && detailInfo.newDistrict !== null">
      {{detailInfo.newDistrict.city.name}}
    </p>
    <p class="line-one">|</p>
    <p class="line-one">{{ detailInfo.edu }}</p>
    <p class="line-one">|</p>
    <p class="line-one">{{ detailInfo.hopeTime }}结婚</p>
  </div>

  <!--<img class="btn_like" src="assets/img/btn_like.png">-->

  <!--全部图片-->
  <div class="all-pic">
    <p>{{['他','她'][baseInfo.sex]}}的照片</p>
    <img *ngFor="let picture of allPictures" [src]="imgService.safeImage(picture.img)" (click)="toLargeImage(picture)">
  </div>

  <!--已认证的信息-->
  <div class="pass_audit">
    <div class="title">
      <img src="assets/img/pass_audit.png">
      <span>已认证</span>
    </div>
    <!--TODO:-->
    <ion-list>
      <ng-container *ngFor="let credTitle of credTitles">
        <ion-item class="credMsg" *ngIf="getStatusByTitle(credTitle.id)==true">{{credTitle.name}}</ion-item>
      </ng-container>
      <ion-item class="creMsg" *ngIf="noCredSuccess">所有证件均未认证</ion-item>
    </ion-list>
  </div>

  <!--未认证的信息-->
 <!-- <div class="unpass_audit">
    <div class="title">
      未通过认证
    </div>
    &lt;!&ndash;TODO:&ndash;&gt;
    <ion-list>
      <ng-container *ngFor="let credType of credTypes">
        <ion-item class="credMsg" *ngIf="getStatus(credType.id)==false">{{credType.name}}</ion-item>
      </ng-container>
    </ion-list>
  </div>-->

  <!--其他信息-->
  <ion-list class="both-info">
    <ion-item>
      <span>自我介绍</span>
      <p>{{ detailInfo.introduce }}</p>
    </ion-item>

    <ion-item>
      <span>基本资料</span>
      <div class="bath">
        <p>{{ calculateService.getAge(baseInfo.birthday) }}岁</p>
        <p>{{ calculateService.getConstellation(baseInfo.birthday) }}</p>
        <p>身高 {{ detailInfo.height }}</p>
        <p>体重 {{ detailInfo.weight }}</p>
        <p>爱好 {{ baseInfo.hobby }}</p>
        <p>
          收入 {{ detailInfo.income }}
        </p>
        <p *ngIf="detailInfo.newDistrict !== undefined && detailInfo.newDistrict !== null">
          所在地 {{detailInfo.newDistrict.city.province.name}}-{{detailInfo.newDistrict.city.name}}-{{detailInfo.newDistrict.name}}
        </p>
        <p  *ngIf="detailInfo.oldDistrict !== undefined && detailInfo.oldDistrict !== null">
          故乡 {{detailInfo.oldDistrict.city.province.name}}-{{detailInfo.oldDistrict.city.name}}-{{detailInfo.oldDistrict.name}}
        </p>
        <p *ngIf="detailInfo.forthSchool !== undefined && detailInfo.forthSchool !== null">
          本科 {{detailInfo.forthSchool.name}}
        </p>
        <!--<p *ngIf="detailInfo.graduate === 1">已毕业</p>-->
        <p *ngIf="detailInfo.thirdSchool !== undefined && detailInfo.thirdSchool !== null">
          高中 {{detailInfo.thirdSchool.name}}
        </p>
        <p *ngIf="detailInfo.secondSchool !== undefined && detailInfo.secondSchool !== null">
          初中 {{detailInfo.secondSchool.name}}
        </p>
        <p *ngIf="detailInfo.firstSchool !== undefined && detailInfo.firstSchool !== null">
          小学 {{detailInfo.firstSchool.name}}
        </p>
      </div>
    </ion-item>

    <ion-item>
      <span>择偶标准</span>
      <p>{{ detailInfo.chooseStandard }}</p>
    </ion-item>
  </ion-list>

  <!--所有操作-->
  <div class="execute_btn">
    <div class="item" *ngIf="relation==='1'" (click)="changeRelation(2)">
      <img src="assets/img/btn_like.png">
      <div>
        <span >取消喜欢</span>
      </div>
    </div>
    <div class="item" *ngIf="relation!=='1'" (click)="changeRelation(0)">
      <img src="assets/img/btn_like.png">
      <div>
        <span >喜欢</span>
      </div>
    </div>
    <div class="item" (click)="eachCommunicate()">
      <img src="assets/img/icon_msg.png">
      <div>
        <span>聊天</span>
      </div>
    </div>
    <div class="item" (click)="changeDisplayDialog()">
      <img src="assets/img/icon_more.png">
      <div>
        <span>更多</span>
      </div>
    </div>
  </div>
  <!--更多的弹框-->
  <div class="more_execute" *ngIf="display_dialog">
    <p *ngIf="relation==='2'" (click)="changeRelation(3)">取消无感</p>
    <p *ngIf="relation!=='2'" (click)="changeRelation(1)">无感</p>
    <p *ngIf="relation==='3'" (click)="changeRelation(5)">取消收藏</p>
    <p *ngIf="relation!=='3'" (click)="changeRelation(4)">收藏</p>
  </div>

</ion-content>
