page-homeIntroduce{
  .back_icon {
    width: 35px;
    position:absolute;
    left:0px;
    top:20px;
    z-index: 99;
  }

  .main_pic img{
  }

  .first_line{
    margin: 5% 8% 0px;

  }

  .name{
    font-size: 22px;
    display: inline-block;
  }

  .first_line .pic{
    margin: 5px 10px;
    width: 20px;
    position: absolute;
    text-align: center;
    display: inline-block;
  }

  .little_info{
    margin: 0px 7%;
  }

  .btn_like {
    width: 25%;
    position:absolute;
    left:70%;
    top:50%;
    z-index: 99;
  }

  .all-pic {
    float: left;
  }

  .all-pic p {
    margin-left: 8%;
    font-size: 20px;
    font-weight: bold;
  }

  .all-pic img {
    width: 30%;
    margin-left: 2.5%;
    float: left;
  }

  p.line-one {
    display: inline-block;
    padding: 2px;
    border-radius: 5px;
  }

  ion-list {
    clear: both;
    float: left;
    width: 100%;
  }

  .pass_audit {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 10%;
    text-align: center;
    font-size: 25px;
  }

  .pass_audit img {
    width: 30px;
  }

  ion-list.both-info ion-item span {
    float: left;
    margin-right: 30px;
  }

  ion-list.both-info ion-item p {
    white-space:normal;
    word-break: break-all;
  }

  br{
    clear: both;
  }

  .both-info {
    margin-bottom: 30%;
  }

  .both-info .bath {
    float: left;
    width: 60%;
  }

  .both-info .bath p{
    float: left;
    color: #FF975A;
    background: #FFF6F1;
    margin-left: 10px;
    padding: 2px;
  }

  .execute_btn {
    position: fixed;
    bottom: 0%;
    z-index: 99;
    background: #FFF6F1;
    width: 100%;
    clear: both;
    float: left;
  }

  .execute_btn .item {
    float: left;
    width: 33.3%;
    text-align: center;
  }

  .execute_btn .item img {
    margin-top: 10%;
    width: 30%;
  }

  .more_execute {
    position: fixed;
    bottom: 15%;
    right: 0%;
    z-index: 100;
    clear: both;
    float: left;
    background: #FFFFFF;
    border: solid gray;
  }

  .more_execute p{
    font-size: 30px;
    font-weight: 500;
    margin: 10px 30px;

  }


}
