page-userDetail{
  /*标题*/
  .head{
    height: 50px;
  }
  .head_back{
    position: absolute;
    height:50px;
    vertical-align: middle;
  }
  .head_back span{
    width:0px;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  .head_back img{
    width:25px;
    vertical-align: middle;
  }

  .head_title {
    font-size: 22px;
    text-align: center;
    line-height: 50px;
    color: #ff975a;
  }
  .line{
    height: 1px;
    background-color:#eeeeee;
  }






  .btn_detail{
    margin: 10% 5%;
    background-image:url('../assets/img/btn_background.png');
    border: none;
    text-align: center;
    width: 90%;
    border-radius:20px;
  }
  .btn_detail:active{
    background-color:#ffaa00;
    color:white;
  }
  .btn_detail:hover{
    background-color:#ffaa00;
    color:white;
  }

  .item {
    margin-left: 5%;
    width: 90%;
  }

  .item span {
    float: left;
    margin-top: 7px;
    font-size: 20px;
    font-weight: 400;
    clear: both;
  }

  .item input {
    font-size: 15px;
    float: right;
    overflow:auto;
    text-align: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: #FFFFFF
  }

  .item p {
    font-size: 15px;
    float: right;
  }

  ion-datetime {
    font-size: 15px;
    float: right;
  }

}
