page-userDetail{
  .btn_detail{
    background-color:transparent;
    border-radius:20px;
    color:#ffaa00;
    border: 2px solid #ffaa00;
    width:50%;
    margin:0 auto;
  }
  .btn_detail:active{
    background-color:#ffaa00;
    color:white;
  }
  .btn_detail:hover{
    background-color:#ffaa00;
    color:white;
  }

  .item {
    margin-left: 5%;
    width: 90%;
  }

  .item span {
    float: left;
    margin-top: 7px;
    font-size: 20px;
    font-weight: 400;
    clear: both;
  }

  .item input {
    font-size: 15px;
    float: right;
    overflow:auto;
    text-align: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: #FFFFFF
  }

  .item p {
    font-size: 15px;
    float: right;
  }

  ion-datetime {
    font-size: 15px;
    float: right;
  }

}
