page-userDetail{
  /*标题*/
  .head{
    height: 50px;
  }
  .head_back{
    position: absolute;
    height:50px;
    vertical-align: middle;
  }
  .head_back span{
    width:0px;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  .head_back img{
    width:25px;
    vertical-align: middle;
  }

  .head_title {
    font-size: 22px;
    text-align: center;
    line-height: 50px;
    color: #ff975a;
  }
  .line{
    height: 1px;
    background-color:#eeeeee;
  }

  //下一步按钮
  .btn_detail{
    margin: 10% 5%;
    background-image:url('../assets/img/btn_background.png');
    border: none;
    text-align: center;
    width: 90%;
    border-radius:20px;
  }
  .btn_detail:active{
    background-color:#ffaa00;
    color:white;
  }
  .btn_detail:hover{
    background-color:#ffaa00;
    color:white;
  }

  .divItem{
    height:45px;
  }

  .divItem ion-label{
    position:absolute;
    font-size:18px;
    line-height:100%;
  }

  .divItem ion-input{
    font-size:16px;
  }

  .divItem p{
    margin-right:8px;
    font-size:16px;
    margin-top:8px;
  }





}
