<ion-header>
  <ion-navbar>
    <ion-title>编辑基本资料</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <div class="item">
      <span>姓名</span>
      <input [(ngModel)]="baseInfo.name" placeholder="请输入（最多8个汉字）">
    </div>

    <hr/>

    <div class="item">
      <span>昵称</span>
      <input [(ngModel)]="baseInfo.nickName" placeholder="请输入（最多8个汉字）"/>
    </div>

    <hr/>

    <div class="item">
      <span>性别</span>
      <p *ngIf="baseInfo.sex !== 0 && baseInfo.sex !== 1" (click)="chooseSex()" style="color: gray">请选择</p>
      <p (click)="chooseSex()">{{['男','女'][baseInfo.sex]}}</p>
    </div>

    <hr/>

    <div class="item">
      <span>出生日期</span>
      <ion-datetime placeholder="请选择" displayFormat="YYYY-MM-DD" [(ngModel)]="baseInfo.birthday"></ion-datetime>
    </div>

    <hr/>

    <div class="item">
      <span>身高（cm）</span>
      <input type="number" placeholder="请填写" [(ngModel)]="detailInfo.height"/>
    </div>

    <hr/>

    <div class="item">
      <span>体重（kg）</span>
      <input type="number"  placeholder="请填写" [(ngModel)]="detailInfo.weight"/>
    </div>

    <hr/>

    <div class="item">
      <span>学历</span>
      <p *ngIf="isStrNull(detailInfo.edu)" (click)="chooseStr('edu')" style="color: gray">请选择</p>
      <p (click)="chooseStr('edu')">{{detailInfo.edu}}</p>
    </div>

    <hr/>

    <div class="item">
      <span>期望婚时</span>
      <p *ngIf="isStrNull(detailInfo.hopeTime)" (click)="chooseStr('hopeTime')" style="color: gray">请选择</p>
      <p (click)="chooseStr('hopeTime')">{{detailInfo.hopeTime}}</p>
    </div>

    <hr/>

    <div class="item">
      <span>收入</span>
      <p *ngIf="isStrNull(detailInfo.income)" (click)="chooseStr('income')" style="color: gray">请选择</p>
      <p (click)="chooseStr('income')">{{detailInfo.income}}</p>
    </div>

    <hr/>

    <div class="item">
      <span>爱好</span>
      <input placeholder="请填写"  [(ngModel)]="baseInfo.hobby"/>
    </div>

    <hr/>

    <div class="item">
      <span>择偶标准</span>
      <input placeholder="请填写" [(ngModel)]="detailInfo.chooseStandard"/>
    </div>

    <hr/>

    <div class="item">
      <span>自我介绍</span>
      <input placeholder="请填写" [(ngModel)]="detailInfo.introduce"/>
    </div>

    <hr/>


  </ion-list>

  <button class="btn_detail" ion-button full (click)="nextStep()">下一步</button>

</ion-content>
