page-contact {
  /*标题*/
  .head{
    height: 44px;
  }
  .head_back{
    position: absolute;
    height:44px;
    vertical-align: middle;
  }
  .head_back span{
    width:0px;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  .head_back img{
    width:22px;
    vertical-align: middle;
  }

  .head_title {
    font-size: 18px;
    text-align: center;
    line-height: 44px;
    color: #ff975a;
  }

  /*选择框*/
  .select{
  }

  ion-item-sliding{
    margin-top: 2px;
  }
  /*下面部分*/
  .people{
    height:90px;
    width:auto;
  }

  /*头像*/
  .people_picture{
    width: 35px;
    height:35px;
    border-radius:50%;
    margin-left: 10px;
    margin-top: 25px;
    float: left;
    overflow: hidden;
  }

  /*名字描述*/
  .people_describe{
    margin-left: 10px;
    height: 80px;
    margin-top: 15px;
    display: inline-block;
    position: absolute;
  }
  .span1{
    font-size:17px;
  }
  .span2{
    margin-left:5px;
    font-size: 17px;
  }

  /*认证模块*/
  .people_describe_img{
    margin-top:1px;
  }
  .people_describe_img img{
    float:left;
    width: 12px;
    position: relative;
    top: 2px;
  }
  .people_describe_img span{
    display: inline-block;
    margin-left: 5px;
    font-size:12px;
    color:#ff975a;
  }
  .people_describe_img .NoRz{
    display: inline-block;
    margin-left: 5px;
    font-size:12px;
    color:#515151;
  }
  .span3{
    margin-top: 3px;
    position: relative;
    display: inline-block;
    color:#666666;
    font-size:12px;
  }
  .span4{
    position: relative;
    display: inline-block;
    color:#999999;
    font-size:12px;
    clear: both;
  }

  /*时间*/
  .people_date{
    display: inline-block;
    height:90px;
    line-height: 90px;
    float: right;
    color:#999999;
    font-size:10px;
    margin-right: 10px;
  }

  .line{
    height: 1px;
    background:#eeeeee;
  }


  .people_date img{
    width: 23px;
  }


  span{
    white-space: nowrap;  /*强制span不换行*/
    /*display: inline-block;*/  /*将span当做块级元素对待*/
    width: 236px;  /*限制宽度*/
    overflow: hidden;  /*超出宽度部分隐藏*/
    text-overflow: ellipsis;  /*超出部分以点号代替*/
  }


  .label-ios {
    margin: 0px 10px 15px 0;
  }
  .list-ios .item-block .item-inner {
    border-bottom: 0.55px solid #eeeeee;
  }
  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: 0.55px solid #eeeeee;
  }
  .text_nolike{
    font-size: 12px;
  }
  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    width: 100%;
    height: 0px;
  }
  .list-md .item-block .item-inner {
    border-bottom: 1px solid #dedede;
    height: 105px;
    padding-bottom: 20px;
  }
}
