<ion-header>
  <div class="head">
    <div class="head_back" (click)="back()">
      <span></span>
      <img src="assets/img/back.png"/>
    </div>
    <div class="head_title">
      心动
    </div>
    <div class="line">
    </div>
  </div>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"  refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div>
    <ion-segment [(ngModel)]="select" color="danger">
      <ion-segment-button value="beLiked">
        对我心动的人
      </ion-segment-button>
      <ion-segment-button value="like">
        我的心动记录
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="select">
    <!--对我心动的-->
    <div *ngSwitchCase="'beLiked'">
          <div class="people" *ngFor="let user of beLikeList" (click)="getIntroduce(user.id)">
            <div class="people_picture">
              <img [src]="imgService.safeImage(user.picture)"/>
            </div>
            <div class="people_describe">
              <span class="span1">{{ user.nickName }}</span>
              <span class="span2">{{ calculateService.getAge(user.birthday) }}岁</span>
              <br/>

              <div class="people_describe_img" *ngIf="user.mainCredNum >= 3">
                <img src="assets/img/rz.png">
                <span>认证用户</span>
              </div>
              <div class="people_describe_img" *ngIf="user.mainCredNum < 3">
                <img src="assets/img/norz.png">
                <span class="NoRz">未认证用户</span>
              </div>

              <span></span><br/>
              <span class="span3">兴趣爱好: {{user.hobby}}</span>
            </div>
            <div class="people_date">
              {{user.createTime}}
            </div>
          </div>
    </div>

    <!--我喜欢的-->
    <div *ngSwitchCase="'like'" >
      <ion-list no-padding>
      <ion-item-sliding no-padding *ngFor="let user of likeList">
        <ion-item>
          <div class="people"  (click)="getIntroduce(user.id)">
            <div class="people_picture">
              <img [src]="imgService.safeImage(user.picture)">
            </div>
            <div class="people_describe">
              <span class="span1">{{ user.nickName }}</span>
              <span class="span2">{{ calculateService.getAge(user.birthday) }}岁</span>
              <br/>

                <div class="people_describe_img" *ngIf="user.mainCredNum >= 3">
                  <img src="assets/img/rz.png">
                  <span>认证用户</span>
                </div>
              <div class="people_describe_img" *ngIf="user.mainCredNum < 3">
                <img src="assets/img/norz.png">
                <span class="NoRz">未认证用户</span>
              </div>

<!--              <ng-container *ngFor="let credType of initCred(user)">
                <div class="people_describe_img" *ngIf="getStatus(credType.id)==true">
                  <img src="assets/img/rz.png">
                  <span>认证用户{{credType.name}}</span>
                </div>
              </ng-container>-->
              <span></span><br/>
              <span class="span3">兴趣爱好: {{user.hobby}}</span><br/>
              <span class="span4">{{user.createTime}}</span>


            </div>
            <div class="people_date" >
                <img src="assets/img/lovehert.png"/>
            </div>
          </div>
        </ion-item>
        <ion-item-options>
          <button ion-button color="danger" icon-start (click)="disLove(user.id)">
            <ion-icon name="trash"></ion-icon>
            不喜欢了
          </button>
        </ion-item-options>
      </ion-item-sliding>
      </ion-list>
    </div>

  </div>
</ion-content>
