<ion-header>
  <div class="head">
    <div class="head_back" (click)="goToSearch()">
      <span></span>
      <img src="assets/img/search.png"/>
    </div>
    <div class="head_title">
      LOGO
    </div>
    <div class="line">
    </div>
  </div>


</ion-header>

<ion-content>
  <!--用户列表-->
  <div class="user_list">
    <!--每个用户的卡片-->
    <div class="user_card" *ngFor="let user of userList; let i = index;" (click)="getIntroduce(user.id)">
      <div>
        <div class="picture">
          <img [src]="imgService.safeImage(user.picture)" />
        </div>

        <div class="message">

          <div class="line_one">
            <div class="name">
              {{ user.nickName }}
            </div>
            <div class="pic" *ngIf="user.vipTime!=''">
              <img src="assets/img/vrz.png"/>
            </div>
          </div>

          <div class="line_third">
            <p>{{ calculateService.getAge(user.birthday) }}岁</p>
            <p>{{ calculateService.getConstellation(user.birthday) }}</p>
            <p>爱好：{{ user.hobby }}</p>
          </div>

        </div>


      </div>
    </div>
  </div>

</ion-content>
