<ion-header>
  <ion-navbar>
    <ion-title>编辑基本资料</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-label>所在地：</ion-label>
  <ion-item no-lines>
    <!--省-->
    <ion-select [(ngModel)]="selectOption.newDistrictSelect.provinceId"
                (ngModelChange)="getCityList('newDistrictSelect')">
      <ion-option *ngFor="let province of selectOption.provinceList" value="{{province.id}}">
        {{province.name}}
      </ion-option>
    </ion-select>
    <!--市-->
    <ion-select [(ngModel)]="selectOption.newDistrictSelect.cityId"
                (ngModelChange)="getDistrictList('newDistrictSelect')">
      <ion-option *ngFor="let city of selectOption.newDistrictSelect.cityList" value="{{city.id}}">
        {{city.name}}
      </ion-option>
    </ion-select>
    <!--区-->
    <ion-select [(ngModel)]="selectOption.newDistrictSelect.id">
      <ion-option *ngFor="let district of selectOption.newDistrictSelect.districtList" value="{{district.id}}">
        {{district.name}}
      </ion-option>
    </ion-select>
  </ion-item>
  <hr/>

  <ion-label>故乡：</ion-label>
  <ion-item no-lines>
    <!--省-->
    <ion-select [(ngModel)]="selectOption.oldDistrictSelect.provinceId"
                (ngModelChange)="getCityList('oldDistrictSelect')">
      <ion-option *ngFor="let province of selectOption.provinceList" value="{{province.id}}">
        {{province.name}}
      </ion-option>
    </ion-select>
    <!--市-->
    <ion-select [(ngModel)]="selectOption.oldDistrictSelect.cityId"
                (ngModelChange)="getDistrictList('oldDistrictSelect')">
      <ion-option *ngFor="let city of selectOption.oldDistrictSelect.cityList" value="{{city.id}}">
        {{city.name}}
      </ion-option>
    </ion-select>
    <!--区-->
    <ion-select [(ngModel)]="selectOption.oldDistrictSelect.id">
      <ion-option *ngFor="let district of selectOption.oldDistrictSelect.districtList" value="{{district.id}}">
        {{district.name}}
      </ion-option>
    </ion-select>
  </ion-item>
  <hr/>

  <ion-label>小学：</ion-label>
  <ion-item no-lines>
    <!--省-->
    <ion-select [(ngModel)]="selectOption.firstSchoolSelect.provinceId"
                (ngModelChange)="getSchoolList('firstSchoolSelect')">
      <ion-option *ngFor="let province of selectOption.provinceList" value="{{province.id}}">
        {{province.name}}
      </ion-option>
    </ion-select>
    <!--学校-->
    <ion-select [(ngModel)]="selectOption.firstSchoolSelect.id">
      <ion-option *ngFor="let school of selectOption.firstSchoolSelect.schoolList" value="{{school.id}}">
        {{school.name}}
      </ion-option>
    </ion-select>
  </ion-item>
  <hr/>

  <ion-label>初中：</ion-label>
  <ion-item no-lines>
    <!--省-->
    <ion-select [(ngModel)]="selectOption.secondSchoolSelect.provinceId"
                (ngModelChange)="getSchoolList('secondSchoolSelect')">
      <ion-option *ngFor="let province of selectOption.provinceList" value="{{province.id}}">
        {{province.name}}
      </ion-option>
    </ion-select>
    <!--学校-->
    <ion-select [(ngModel)]="selectOption.secondSchoolSelect.id">
      <ion-option *ngFor="let school of selectOption.secondSchoolSelect.schoolList" value="{{school.id}}">
        {{school.name}}
      </ion-option>
    </ion-select>
  </ion-item>
  <hr/>

  <ion-label>高中：</ion-label>
  <ion-item no-lines>
    <!--省-->
    <ion-select [(ngModel)]="selectOption.thirdSchoolSelect.provinceId"
                (ngModelChange)="getSchoolList('thirdSchoolSelect')">
      <ion-option *ngFor="let province of selectOption.provinceList" value="{{province.id}}">
        {{province.name}}
      </ion-option>
    </ion-select>
    <!--学校-->
    <ion-select [(ngModel)]="selectOption.thirdSchoolSelect.id">
      <ion-option *ngFor="let school of selectOption.thirdSchoolSelect.schoolList" value="{{school.id}}">
        {{school.name}}
      </ion-option>
    </ion-select>

  </ion-item>

  <hr/>
  <ion-label>大学：</ion-label>
  <ion-item no-lines>
    <!--省-->
    <ion-select [(ngModel)]="selectOption.forthSchoolSelect.provinceId"
                (ngModelChange)="getSchoolList('forthSchoolSelect')">
      <ion-option *ngFor="let province of selectOption.provinceList" value="{{province.id}}">
        {{province.name}}
      </ion-option>
    </ion-select>
    <!--学校-->
    <ion-select [(ngModel)]="selectOption.forthSchoolSelect.id">
      <ion-option *ngFor="let school of selectOption.forthSchoolSelect.schoolList" value="{{school.id}}">
        {{school.name}}
      </ion-option>
    </ion-select>
  </ion-item>
  <hr/>

  <ion-label>是否毕业</ion-label>
  <ion-list radio-group [(ngModel)]="detailInfo.graduate" no-lines>
    <ion-item>
      <ion-label>否</ion-label>
      <ion-radio value="0"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>是</ion-label>
      <ion-radio value="1"></ion-radio>
    </ion-item>
  </ion-list>

  <p class="addSchool" (click)="alertAddSchoolStep1()">自定义添加学校</p>

  <button class="btn_detail" ion-button full (click)="detail()">保存</button>

</ion-content>
