<ion-header>
  <div class="head">
    <div class="head_back" (click)="back()">
      <span></span>
      <img src="assets/img/back.png"/>
    </div>
    <div class="head_title">
      编辑基本资料
    </div>
    <div class="line">
    </div>
  </div>
</ion-header>

<ion-content padding>

  <ion-label>所在地：</ion-label>
  <ion-item no-lines>
    <!--省-->
    <ion-select [(ngModel)]="selectOption.newDistrictSelect.provinceId"
                (ngModelChange)="getCityList('newDistrictSelect')">
      <ion-option *ngFor="let province of selectOption.provinceList" value="{{province.id}}">
        {{province.name}}
      </ion-option>
    </ion-select>
    <!--市-->
    <ion-select [(ngModel)]="selectOption.newDistrictSelect.cityId"
                (ngModelChange)="getDistrictList('newDistrictSelect')">
      <ion-option *ngFor="let city of selectOption.newDistrictSelect.cityList" value="{{city.id}}">
        {{city.name}}
      </ion-option>
    </ion-select>
    <!--区-->
    <ion-select [(ngModel)]="selectOption.newDistrictSelect.id">
      <ion-option *ngFor="let district of selectOption.newDistrictSelect.districtList" value="{{district.id}}">
        {{district.name}}
      </ion-option>
    </ion-select>
  </ion-item>
  <hr/>

  <ion-label>故乡：</ion-label>
  <ion-item no-lines>
    <!--省-->
    <ion-select [(ngModel)]="selectOption.oldDistrictSelect.provinceId"
                (ngModelChange)="getCityList('oldDistrictSelect')">
      <ion-option *ngFor="let province of selectOption.provinceList" value="{{province.id}}">
        {{province.name}}
      </ion-option>
    </ion-select>
    <!--市-->
    <ion-select [(ngModel)]="selectOption.oldDistrictSelect.cityId"
                (ngModelChange)="getDistrictList('oldDistrictSelect')">
      <ion-option *ngFor="let city of selectOption.oldDistrictSelect.cityList" value="{{city.id}}">
        {{city.name}}
      </ion-option>
    </ion-select>
    <!--区-->
    <ion-select [(ngModel)]="selectOption.oldDistrictSelect.id">
      <ion-option *ngFor="let district of selectOption.oldDistrictSelect.districtList" value="{{district.id}}">
        {{district.name}}
      </ion-option>
    </ion-select>
  </ion-item>
  <hr/>

  <hr/>
  <ion-label>大学：</ion-label>
  <ion-item no-lines>
    <!--省-->
    <ion-select [(ngModel)]="selectOption.forthSchoolSelect.provinceId"
                (ngModelChange)="getSchoolList('forthSchoolSelect')">
      <ion-option *ngFor="let province of selectOption.provinceList" value="{{province.id}}">
        {{province.name}}
      </ion-option>
    </ion-select>
    <!--学校-->
    <ion-select [(ngModel)]="selectOption.forthSchoolSelect.id">
      <ion-option *ngFor="let school of selectOption.forthSchoolSelect.schoolList" value="{{school.id}}">
        {{school.name}}
      </ion-option>
    </ion-select>
  </ion-item>
  <hr/>

  <button class="btn_detail" ion-button full (click)="detail()">保存</button>

</ion-content>
