page-authorInformation {
  /*标题*/
  .head{
    height: 44px;
  }
  .head_back{
    position: absolute;
    height:44px;
    vertical-align: middle;
  }
  .head_back span{
    width:0px;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  .head_back img{
    width:22px;
    vertical-align: middle;
  }

  .head_title {
    font-size: 18px;
    text-align: center;
    line-height: 44px;
    color: #ff975a;
  }
  .line{
    height: 1px;
    background-color:#eeeeee;
  }

  /*关于我们*/
  ion-content{
    background: gainsboro;
  }
  .icon{
    width: 100%;
    text-align: center;
  }
  .icon img{
    width: 40px
  }
  .icon p{
    font-size: 20px;
  }
  .label-md {
    margin: 13px 8px 13px 0;
    font-size: 18px;
  }
  .label-ios {
    margin: 13px 8px 13px 0;
    font-size: 18px;
  }

  .copyright {
    margin-top: 50px;
    width: 100%;
    color: gray;
    text-align: center;
  }

  $select: 'md' 'ios';
  @for $i from 1 to 3 {
    .item-#{nth($select, $i)}.item-block .item-inner {
      padding-right: 8px;
      border-bottom: 0.55px solid #eeeeee;
    }
    .header-#{nth($select, $i)}::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
      height: 0px;
    }
  }
}
