page-authorInformation {
  ion-content{
    background: gainsboro;
  }

  .icon{
    width: 100%;
    text-align: center;
  }

  .icon img{

    width: 50px
  }

  .copyright {
    margin-top: 50px;
    width: 100%;
    color: gray;
    text-align: center;
  }


}
