page-authorInformation {
  /*标题*/
  .head{
    height: 50px;
  }
  .head_back{
    position: absolute;
    height:50px;
    vertical-align: middle;
  }
  .head_back span{
    width:0px;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  .head_back img{
    width:25px;
    vertical-align: middle;
  }

  .head_title {
    font-size: 22px;
    text-align: center;
    line-height: 50px;
    color: #ff975a;
  }
  .line{
    height: 1px;
    background-color:#eeeeee;
  }





  ion-content{
    background: gainsboro;
  }

  .icon{
    width: 100%;
    text-align: center;
  }

  .icon img{

    width: 50px
  }

  .copyright {
    margin-top: 50px;
    width: 100%;
    color: gray;
    text-align: center;
  }


}
