page-pay{
  /*标题*/
  .head{
    background-color: #ffffff;
    height: 44px;
  }
  .head_back{
    position: absolute;
    height:44px;
    vertical-align: middle;
  }
  .head_back span{
    height: 100%;
    vertical-align: middle;
    display: inline-block
  }
  .head_back img{
    width:22px;
    vertical-align: middle;
  }
  .head_title {
    font-size: 18px;
    text-align: center;
    line-height: 44px;
    color: #ff975a;
  }
  .line{
    height: 1px;
    background-color:#eeeeee;
  }

  .ion-content{
    background-color: #fafafa;
  }
  //个人信息部分
  .ion-list{
    margin-top:8px;
  }
  .picture{
    width: 40px;
    height:40px;
    border-radius: 50%;
    overflow: hidden;
  }
  .span1{
    float: left;
    font-size:18px;
  }
/*  .describe img{
    width:23px;
    height:23px;
    margin-left:10px;
  }*/
  .p{
    margin-top:5px;
  }
  .p span{
    color:#d9a961;
  }
  .describe_pic{
    width: 5%;
    margin: 3px 17px;
    display: inline-block;
    text-align: center;
  }
  .describe_openvip{
    margin: 3px 17px;
    width: 30%;
    display: inline-block;
  }


  //第二部分购买VIP
  .buy{
    width:100%;
    background-color:#ffffff;
    margin-top:10px;
    overflow: hidden;
  }
  .buy_member{
    font-size:18px;
    margin-left: 3%;
    margin-top:10px;
  }
  /*购买价格*/
  .buy_first{
    margin-top:5px;
    text-align: center;
    margin-left: 2.5%;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
  }

  .buy_one{
    position: relative;
    text-align: left;
    padding:10px;
    display: inline-block;
    width:45%;
    border: 1px solid #cccccc ;
    margin: 5px;
    float: left;
  }
  .buy_name{
    font-size:16px;
    color: #d9a961;
  }
  .buy_name img{
    height:20px;
    width:20px;
  }
  .buy_name span{
    font-size:13px;
    color: #d9a961;
  }
  .buy_newprice{
    font-size:16px;
    color: #ec584e;
  }
  .buy_price_span1{
    font-size: 13px;
  }
  .buy_price_span2{
    text-align: center;
    width:50px;
    height:1px;
    background-color:black;
    margin-top:-8px;
  }
  .buy_img{
    width:50px;
    position: absolute;
    display: inline-block;
    right: 1%;
    bottom: -2.5%;
  }


  //第三部分会员权益
  .member{
    display: inline-block;
    width:100%;
    background-color:#ffffff;
    margin-top:10px;
    overflow: hidden;
  }
  .member_right{
    margin-top:10px;
    font-size: 17px;
    text-align: center;
  }
  .first_line{
    margin-top:10px;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .s1{
    font-size: 14px;
  }
  .vip_img1{
    display: inline-block;
  }
  .vip_img1 img{
    width:40px;
  }
  .vip_img {
    display: inline-block;
    margin-left:60px;
  }
  .vip_img img{
    width:40px;
  }

  .second_line{
    display: inline-block;
    margin-top:10px;
    width:100%;
    text-align: center;
  }

  $select: 'md' 'ios';
  @for $i from 1 to 3 {
    /*细节*/
    .header-#{nth($select, $i)}::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
      background: none;
    }
  }


/*  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }*/
}
