<ion-header>
  <div class="head">
    <div class="head_back" (click)="back()">
      <span></span>
      <img src="assets/img/back.png"/>
    </div>
    <div class="head_title">
      VIP
    </div>
    <div class="line">
    </div>
  </div>
</ion-header>

<ion-content class="ion-content">

  <div class="ion-list">
    <ion-item no-lines>
      <div class="picture" item-start>
        <img [src]="imgService.safeImage(user.picture)"/>
      </div>

      <div class="describe">
        <span class="span1">{{user.nickName}}</span>
        <div class="describe_pic" *ngIf="calculate.isVip(user.vipTime)==true">
          <img src="assets/img/vrz.png"/>
        </div>
        <div class="describe_openvip" *ngIf="calculate.isVip(user.vipTime)==false">
          <img src="assets/img/openvip.png"/>
        </div>
      </div>

      <p class="p" *ngIf="calculate.isVip(user.vipTime)==true">您的vip于<span>{{user.vipTime}}</span>到期</p>
    </ion-item>
  </div>

  <div class="buy">
    <div class="buy_member">加V购买会员</div>

    <div class="buy_first">
      <div class="buy_one" *ngFor="let order of orders" (click)="goToPay(order)">
        <div class="buy_name">
          <img src="{{order.img}}"/>{{order.name}}
          <span>{{order.month}}</span>
        </div>
        <div class="buy_newprice">{{order.price}}</div>

        <div class="buy_price">
          <div class="buy_price_span1">{{order.des}}</div>
          <div class="buy_price_span2"></div>
        </div>
        <div class="buy_img">
          <img src="assets/img/buyvip.png">
        </div>
      </div>


<!--      <div class="buy_one">
        <div class="buy_name">
          <img src="assets/img/vip.png"/>月度会员
          <span>1个月</span>
        </div>
        <div class="buy_newprice">99.00元</div>

        <div class="buy_price">
          <div class="buy_price_span1">100.00元</div>
          <div class="buy_price_span2"></div>
        </div>

        <div class="buy_img">
          <img src="assets/img/buyvip.png">
        </div>
      </div>-->
    </div>

<!--    <div class="buy_first">
      <div class="buy_one">
        <div class="buy_name">
          <img src="assets/img/vip.png"/>月度会员
          <span>1个月</span>
        </div>
        <div class="buy_newprice">99.00元</div>

        <div class="buy_price">
          <div class="buy_price_span1">100.00元</div>
          <div class="buy_price_span2"></div>
        </div>

        <div class="buy_img">
          <img src="assets/img/buyvip.png">
        </div>
      </div>

      <div class="buy_one">
        <div class="buy_name">
          <img src="assets/img/vip.png"/>月度会员
          <span>1个月</span>
        </div>
        <div class="buy_newprice">99.00元</div>

        <div class="buy_price">
          <div class="buy_price_span1">100.00元</div>
          <div class="buy_price_span2"></div>
        </div>

        <div class="buy_img">
          <img src="assets/img/buyvip.png">
        </div>
      </div>
    </div>-->

  </div>

  <div class="member">
    <div class="member_right">会员权利</div>
    <div class="first_line">
      <div class="vip_img1">
        <img  src="assets/img/one_img.png"/><br/>
        <span class="s1">会员标识</span>
      </div>

      <div class="vip_img">
        <img class="img5" src="assets/img/five_img.png"/><br/>
        <span class="s1">优先审核</span>
      </div>
      <div class="vip_img">
        <img src="assets/img/three_img.png"/><br/>
        <span class="s1">优先展示</span>
      </div>
    </div>
    <div class="second_line">
      <!--<div class="vip_img1">-->
        <!--<img class="img4" src="assets/img/four_img.png"/><br/>-->
        <!--<span>高级搜索</span>-->
      <!--</div>-->
      <!--<div class="vip_img">-->
      <!--<img src="assets/img/two_img.png"/><br/>-->
      <!--<span>交换微信</span>-->
      <!--</div>-->
      <!--<div class="vip_img">-->
        <!--<img class="img6" src="assets/img/six_img.png"/><br/>-->
        <!--<span>屏蔽功能</span>-->
      <!--</div>-->
    </div>
  </div>

<!--  <ion-card *ngFor="let order of orders" (click)="goToPay(order)">
    <img src="{{order.image}}" />
    <div class="card-title">{{order.price}}</div>
    <div class="card-subtitle">{{order.des}}</div>
  </ion-card>-->

</ion-content>
