<ion-header>
  <div class="head">
    <div class="head_back" (click)="back()">
      <span></span>
      <img src="assets/img/back.png"/>
    </div>
    <div class="head_title">
      搜索
    </div>
    <div class="line">
    </div>
  </div>
</ion-header>

<ion-content padding>

<!--  <div class="div">
    <div class="div1">
      <button ion-button icon-only clear (click)="goToIntroduce()">
        <ion-icon ios="ios-search-outline" md="md-search"></ion-icon>
      </button>
    </div>
    <div class="div2">
      <ion-input type="text" placeholder="搜索ID" [(ngModel)]="userId"></ion-input>
    </div>
    <div class="div3">
      <button ion-button icon-only clear (click)="inputClear()">
        <ion-icon ios="ios-close-outline" md="md-close"></ion-icon>
      </button>
    </div>
    <div class="div4">
    </div>

  </div>-->

  <div class="basic">
    <p>基本筛选</p>
    <div class="divItem">
      <ion-label>身高</ion-label>
      <p text-right *ngIf="isStrNull(searchInfo.high)" (click)="chooseStr('high')" style="color: gray">请选择</p>
      <p text-right (click)="chooseStr('high')">{{searchInfo.high}}</p>
    </div>
    <div class="divItem">
      <ion-label>年龄</ion-label>
      <p text-right *ngIf="isStrNull(searchInfo.age)" (click)="chooseStr('age')" style="color: gray">请选择</p>
      <p text-right (click)="chooseStr('age')">{{searchInfo.age}}</p>
    </div>
    <div class="divItem">
      <ion-label>学历</ion-label>
      <p text-right *ngIf="isStrNull(searchInfo.edu)" (click)="chooseStr('edu')" style="color: gray">请选择</p>
      <p text-right (click)="chooseStr('edu')">{{searchInfo.edu}}</p>
    </div>
    <div class="divItem">
      <ion-label>年收入</ion-label>
      <p text-right *ngIf="isStrNull(searchInfo.income)" (click)="chooseStr('income')" style="color: gray">请选择</p>
      <p text-right (click)="chooseStr('income')">{{searchInfo.income}}</p>
    </div>
  </div>

  <div class="detail">
    <div>
      <p class="p1">高级筛选</p>
      <p class="p2">仅加V会员可用</p>
    </div>

    <ion-label>所在地：</ion-label>
    <ion-item no-lines>
      <!--省-->
      <ion-select [(ngModel)]="selectOption.newDistrictSelect.provinceId"
                  (ngModelChange)="getCityList('newDistrictSelect')">
        <ion-option *ngFor="let province of selectOption.provinceList" value="{{province.id}}">
          {{province.name}}
        </ion-option>
      </ion-select>
      <!--市-->
      <ion-select [(ngModel)]="selectOption.newDistrictSelect.cityId"
                  (ngModelChange)="getDistrictList('newDistrictSelect')">
        <ion-option *ngFor="let city of selectOption.newDistrictSelect.cityList" value="{{city.id}}">
          {{city.name}}
        </ion-option>
      </ion-select>
      <!--区-->
      <ion-select [(ngModel)]="selectOption.newDistrictSelect.id">
        <ion-option *ngFor="let district of selectOption.newDistrictSelect.districtList" value="{{district.id}}">
          {{district.name}}
        </ion-option>
      </ion-select>
    </ion-item>
    <hr/>

    <ion-label>故乡：</ion-label>
    <ion-item no-lines>
      <!--省-->
      <ion-select [(ngModel)]="selectOption.oldDistrictSelect.provinceId"
                  (ngModelChange)="getCityList('oldDistrictSelect')">
        <ion-option *ngFor="let province of selectOption.provinceList" value="{{province.id}}">
          {{province.name}}
        </ion-option>
      </ion-select>
      <!--市-->
      <ion-select [(ngModel)]="selectOption.oldDistrictSelect.cityId"
                  (ngModelChange)="getDistrictList('oldDistrictSelect')">
        <ion-option *ngFor="let city of selectOption.oldDistrictSelect.cityList" value="{{city.id}}">
          {{city.name}}
        </ion-option>
      </ion-select>
      <!--区-->
      <ion-select [(ngModel)]="selectOption.oldDistrictSelect.id">
        <ion-option *ngFor="let district of selectOption.oldDistrictSelect.districtList" value="{{district.id}}">
          {{district.name}}
        </ion-option>
      </ion-select>
    </ion-item>

  </div>

  <div class="mybutton">
    <button ion-button full class="common" (click)="searchCom()">普通搜索</button>
    <button ion-button full class="vip" (click)="searchVip()">Vip搜索</button>
  </div>


</ion-content>
