<ion-header>
  <div class="head">
    <div class="head_back" (click)="back()">
      <span></span>
      <img src="assets/img/back.png"/>
    </div>
    <div class="head_title">
      举报
    </div>
    <div class="line">
    </div>
  </div>
</ion-header>

<ion-content padding>
  <ion-list radio-group  [(ngModel)]="typeId">
    <ion-item *ngFor="let type of typeList" >
      <ion-label>{{type.name}}</ion-label>
      <ion-radio value="{{type.id}}"></ion-radio>
    </ion-item>
  </ion-list>
  <ion-textarea placeholder="输入原因" class="content_edit" [(ngModel)]="content">

  </ion-textarea>
  <div class="image_picker">
    <img  *ngFor="let item of base64; let i = index" [src]="imgService.safeImage(item)" (click)="deletePicture(i)" >
    <img src="assets/img/btn_add_img.png"  (click)="addPicture()" >
  </div>
  <button class="subImg" ion-button full (click)="addTip()">提交</button>

</ion-content>
