page-rzone {
  /*标题*/
  /*3.6px = 1vw*/
  .head {
    background-color: #ffffff;
    height: 44px;
  }
  .head_back {
    position: absolute;
    height: 44px;
    vertical-align: middle;
  }
  .head_back span {
    height: 100%;
    vertical-align: middle;
    display: inline-block
  }
  .head_back img {
    width: 22px;
    vertical-align: middle;
  }
  .head_title {
    font-size: 18px;
    text-align: center;
    line-height: 44px;
    color: #ff975a;
  }

  .line{
    height: 1px;
    background-color:#eeeeee;
  }

  /*头像上传部分*/
  .all-pic {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
  .all-pic img {
    width: 30%;
    display: inline-block;
    margin-left: 35%;
  }
  .all-pic p{
    text-align: center;
    font-size: 10px;
    margin: 0px;
  }

  /*每个选项*/
  .divItem{
    height:40px;
    margin: 3% 5%;
  }

  .divItem ion-label{
    position:absolute;
    font-size:15px;
    color: #333333;
  }

  .divItem ion-input{
    font-size:15px;
    padding-top: 0px;
    padding-left: 20%;
    color: #333333;
  }

  .divItem p{
    margin:10px 8px;
    font-size:15px;
    padding-top: 10px;
    padding-left: 20%;
    color: #333333;
  }

  .mylabel{
    font-size: 15px;
    padding-left: 16px;
  }

  //下一步按钮
  .btn_detail{
    margin: 5% 10% 5% 10%;
    background-image:url('../assets/img/btn_background.png');
    border: none;
    text-align: center;
    width: 80%;
    border-radius:10px;
    background-size: cover;
    box-shadow: none;
  }
  .btn_detail:active{
    background-color:#ffaa00;
    color:white;
  }
  .btn_detail:hover{
    background-color:#ffaa00;
    color:white;
  }
  .prompt{
    text-align: center;
    font-size: 10px;
  }

  $select: 'md' 'ios';
  @for $i from 1 to 3 {
    /*细节*/
    .item-#{nth($select, $i)}.item-block .item-inner {
      padding-right: 8px;
      border-bottom: 0.55px solid #eeeeee;
    }
    .header-#{nth($select, $i)}::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
      height: 0px;
      border-bottom: 0px solid #eeeeee;
    }

    .item-#{nth($select, $i)}.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-#{nth($select, $i)}.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
      border-bottom-color: transparent;
      -webkit-box-shadow: inset 0 -1px 0 0 transparent;
      box-shadow: inset 0 -1px 0 0 transparent;
    }
    .item-#{nth($select, $i)}.item-input.item-input-has-focus .item-inner,
    .item-#{nth($select, $i)}.item-input.input-has-focus .item-inner {
      border-bottom-color: transparent;
      -webkit-box-shadow: inset 0 -1px 0 0 transparent;
      box-shadow: inset 0 -1px 0 0 transparent;
    }

    .item-input .label-#{nth($select, $i)}, .item-select .label-#{nth($select, $i)}, .item-datetime .label-#{nth($select, $i)} {
      font-size:15px;
      color: #333333;
    }

    .text-input-#{nth($select, $i)} {
      font-size:15px;
      padding-top: 0px;
      padding-left: 10%;
      color: #333333;
      padding-right: 10px;
    }

    .datetime-#{nth($select, $i)} {
      padding: 15px 35px 20px 16px;
      font-size: 15px;
      color: #333333;
    }

    .item-#{nth($select, $i)}.item-block .item-inner {
      border-bottom: 0px solid #eeeeee;
    }

    .select-#{nth($select, $i)} {
      padding: 15px 25px 20px 16px;
      font-size: 15px;
    }

  }

}
