<ion-header>
  <div class="head">
    <div class="head_back" (click)="back()">
      <span></span>
      <img src="assets/img/back.png"/>
    </div>
    <div class="head_title">
      我的照片
    </div>
    <div class="line">
    </div>
  </div>
</ion-header>

<ion-content padding>

  <!--全部头像图片-->
  <div class="all-pic">
    <div class="all-dex">头像照</div>
    <img *ngFor="let picture of pictures; let i = index" [src]="imgService.safeImage(picture)" (click)="controlImage(i)" >
    <img src="assets/img/btn_add.png" (click)="addPicture()">
  </div>


  <div class="live-pic">
    <div class="live-des">生活照</div>
    <img *ngFor="let picture of pictures; let i = index" [src]="imgService.safeImage(picture)">
    <img src="assets/img/btn_add.png" (click)="addPicture()">
  </div>


</ion-content>
