page-controlImage {
  /*标题*/
  .head {
    background-color: #ffffff;
    height: 44px;
  }
  .head_back {
    position: absolute;
    height: 44px;
    vertical-align: middle;
  }
  .head_back span {
    height: 100%;
    vertical-align: middle;
    display: inline-block
  }
  .head_back img {
    width: 22px;
    vertical-align: middle;
  }
  .head_title {
    font-size: 18px;
    text-align: center;
    line-height: 44px;
    color: #ff975a;
  }

  /*图片*/
  .all-pic {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
  }
  .all-dex {
    color: #ff975a;
    font-size: 17px;
    margin-left: 2.5%;
  }
  .all-pic img {
    width: 25%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    float: left;
  }

  .waitIcon {
    float: left;
    margin-left: 2.5%;
    margin-top: 2.5%;
    width: 25%;
    height: 80px;
    background-size:cover;
  }

  .waitIcon-face{
    display: inline-block;
    text-align: center;
    transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    border: 1px dashed;
    background: #57DD43;
    margin: 50% 14%;

  }

  /*生活照*/
  .live-pic {
    display: inline-block;
    margin-top: 30px;
  }
  .live-des {
    color: #ff975a;
    font-size: 17px;
    margin-left: 2.5%;
  }
  .live-pic img {
    width: 30%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    float: left;
  }


  $select: 'md' 'ios';
  @for $i from 1 to 3 {
    /*细节*/
    .item-#{nth($select, $i)}.item-block .item-inner {
      padding-right: 8px;
      border-bottom: 0.55px solid #eeeeee;
    }
    .header-#{nth($select, $i)}::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
      height: 0px;
      border-bottom: 1px solid #eeeeee;
    }
  }
}
